.footer-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    font-size: x-large;
    list-style-type: none;
    margin-bottom: 10px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 5px;
    margin-bottom: 0;
    background-color:rgb(202, 199, 0);
    min-height:10px;
    width:auto;
    position:sticky;
    border: solid 5px brown;   
    border-radius: 15px;
    margin: 10px;
}
.footer a{
    color: rgb(199, 6, 6);  
}
.footer p{
    font-weight: bolder;
    color: #165f57;
    margin-bottom: 5px;
  margin-left: 35%;
  margin-right: 50%;
  width: 50%;
}

@media (max-width: 750px){
    .footer {
    left: 0;
    right: 0;
    bottom: 5px;
    margin-bottom: 0;
    background-color:rgb(202, 199, 0);
    min-height:10px;
    width:auto;
    position:sticky;
    border: solid 5px brown;   
    border-radius: 15px;
    margin:5px;
    }
}
@media (max-width: 750px){
    .footer-right{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        align-items: center;
        margin: 5px;
        font-size: large;
        list-style-type: none;
        margin-bottom: 10px;
    }
}
