.header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(202, 199, 0);
    text-align: left;
    font-style: oblique;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    border: solid 4px chocolate;
    border-radius: 10px;
}

.header .App-logo {
    height: 40vmin;
    pointer-events: none;
    width: 150px;
    height: 150px;
  }
.header .nav-link {
    margin-top: 30px;
    list-style-type: none;
           
}  
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s alternate-reverse;
    }
  }
.header .line {
    font-size: xx-large;
    color: rgb(199, 6, 6);    
}  

.header a {
    font-size: xx-large;
    color: rgb(199, 6, 6); 

}

@media (max-width: 750px){
    .header .App-logo {     
        margin-top: 20px;
        height: 40vmin;
        pointer-events: none;
        width: 100px;
        height: 100px; 
    }
}
@media (max-width: 750px){
    .header .line {        
        font-size: x-large;
        text-align: center;
        color: rgb(199, 6, 6);
    }  
}
@media (max-width: 750px){
    .header a {
        font-size: x-large;
        color: rgb(199, 6, 6); 
    
    }
}

@media (max-width: 750px){
    .header {       
        background-color: rgb(202, 199, 0);
        grid-template-columns: 1fr 4fr;
        text-align: left;
        font-style: oblique;
        font-weight: bolder;
        margin: 10px;
        padding: 10px;  
            
    
    } 
}
@media (max-width: 750px){
    .header .nav-link {
        list-style-type: none;
        margin-left: 70px;
        margin-top: 0;
        
    }
}

